              <form name="contacts" method="post" data-netlify="true" action="{{ url('success') }}">
                <div class="input-group input-group-newsletter">
                  <input type="email" name="email" required class="form-control" placeholder="{{ site.comingsoon.subscribe.placeholder|default('Enter Email...') }}" aria-label="{{ site.comingsoon.subscribe.placeholder|default('Enter Email...') }}" aria-describedby="basic-addon">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">{{ site.comingsoon.subscribe.button|default('Notify me!') }}</button>
                  </div>
                </div>
              </form>