              <form name="contacts" method="post" data-netlify="true" action="/success">
                <div class="input-group input-group-newsletter">
                  <input type="email" name="email" required class="form-control" placeholder="Adresse e-mail..." aria-label="Adresse e-mail..." aria-describedby="basic-addon">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">Prévenez-moi !</button>
                  </div>
                </div>
              </form>