name: Test

on: push

jobs:
  test-theme:
    name: Test theme
    runs-on: ubuntu-latest
    env:
      CECIL_BASEURL: 'https://cecilapp.github.io/theme-comingsoon/'
      CECIL_CANONICALURL: 'true'
    environment: 
      name: production
      url: ${{ steps.deploy_url.outputs.url }}
    steps:
    - name: Download Cecil
      run: curl -sSOL https://cecil.app/cecil.phar

    - name: Create demo site
      run: php cecil.phar new:site demo

    - name: Install theme
      uses: actions/checkout@master
      with:
        path: 'demo/themes/comingsoon'

    - uses: actions/setup-node@v2

    - name: Install Bootstrap
      working-directory: demo/themes/comingsoon/static
      run: npm install

    - name: Add theme
      run: |
        echo -e "theme:\n  - comingsoon" >> demo/config.yml
        cat demo/config.yml
        rm -rf demo/layouts

    - name: Add content
      run: |
        echo -e "We're working hard to finish the development of this site.  \nOur target launch date is **January 2022!**  \nSign up for updates using the form below!" >> demo/content/index.md
        echo -e "**Thank you**, your submission has been received.\n\nâ† [Return](../)" >> demo/content/success.md

    - name: Build
      run: php cecil.phar build -vv demo

    - name: Deploy
      uses: Cecilapp/GitHub-Pages-deploy@v3
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        email: arnaud@ligny.org
        build_dir: demo/_site

    - name: Deploy URL
      if: ${{ success() }}
      id: deploy_url
      run: echo "::set-output name=url::$CECIL_BASEURL"
